{% extends 'base.html' %}

{% block content %}
<h2>Search</h2>
<div class="mb-3">
    <form action="{{ url_for('handle_data') }}" method="post" enctype="multipart/form-data">
        <h3>Job Title</h3>
        <input type="text" class="form-control" name="jobTitle">
        <h3>Job Location</h3>
        <input type="text" class="form-control" name="jobLocation">
        <h3>Websites to Search From</h3>
        <input class="form-check-input" type="checkbox" id="indeed" name="websites" value="indeed">
        <label class="form-check-label" for="indeed"> Indeed </label><br>
        <input class="form-check-input" type="checkbox" id="glassdoor" name="websites" value="glassdoor">
        <label class="form-check-label" for="glassdoor"> Glassdoor</label><br>
        <input type="submit">
    </form>
</div>
{% endblock %}